body {
  background-color: lightpurple;
  font-family: 'Raleway', sans-serif
}

#banner {
  background-image: url("https://www.freepik.com/free-photo/closeup-shot-many-metal-cans-side-by-side_10991214.htm#query=soda%20can&position=31&from_view=keyword&track=ais");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: center;
  top: 50px;
  width: 600px;
  margin: 0 auto;
}

.navigation ul {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation  li.logo {
  color: black;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}
  
