body {
  background-color: lightpurple;
  font-family: 'Raleway', sans-serif
}

#banner {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fsoda-can&psig=AOvVaw2HBcyRWeMYFjMH36ouq95o&ust=1685047720974000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLD4lozqjv8CFQAAAAAdAAAAABAI");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.subpage {
  color: purple;
  font-weight: bold;
}

.signup {
  text-align: center;
}
  
